<!DOCTYPE html>
<html>

<head>
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
    <!-- this is the best webisite ever -->
    <h1> リトル大阪 </h1>
    <hr>
    <a href="page2.html">
        <image src="https://i.pinimg.com/736x/49/a4/cf/49a4cfe91a73136e3f45d41a1564a071.jpg" width="300" class="logo">
        </image>
    </a>
    <hr>
    <h2>WHY US?</h2>
    <table class="info-table">
        <tr>
            <th>
                <h4>If you're looking for authentic Japanese cuisine, look no further than Little Osaka. We partner with
                    the best Japanese restaurants to bring you the most delicious and traditional meals. Our focus on
                    authenticity sets us apart from other restaurants in the area and ensures that every dish you have
                    exceeds your expectations. Whether you're in the mood for something simple or want to try something
                    new, Little Osaka is the perfect choice for your next meal.</h4>
            </th>
        </tr>
    </table>
    <hr>
    <h2>ABOUT LITTLE OSAKA:-</h2>
    <table class="info-table">
        <tr>
            <th>
                <h4>Little Osaka is not just a restaurant - it's a cultural experience. We are passionate about
                    promoting Japanese traditions and culinary techniques. Our genuine approach to Japanese cuisine is
                    evident in every dish we serve, right from the first bite. We believe in serving only the highest
                    quality ingredients and have built strong relationships with our suppliers to ensure the best
                    seasonal produce for our dishes. Whether you dine with us in-house, or order online, our mission is
                    to provide a truly delightful dining experience.</h4>
            </th>
        </tr>
    </table>
    <table>
        <tr>
            <a href="/menu"> <button> Menu </button>
            </a>
        </tr>
    </table>

</body>

</html>